---
const today = new Date();
---

<footer class="border-t border-black/5 py-12">
	<div class="max-w-5xl mx-auto px-6 flex flex-col md:flex-row justify-between items-center gap-6 text-black/30 text-sm">
		<div class="flex items-center gap-4">
			<p>&copy; {today.getFullYear()} BTTB. Back To The Basics.</p>
		</div>
	</div>
</footer>
